.developer {
  padding-left: 20px;
  padding-right: 20px;
  background: -webkit-linear-gradient(180deg, #fff,#FFD100);
  background: linear-gradient(180deg, #fff,#FFD100);
  border-radius: 0 20px 20px 0;
}