.footer {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #1d1d1d;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1920px;
  padding-right: 70px;
  padding-left: 70px;
  margin: 0 auto;
}

.footer-logo-img {
  width: 100px;
  height: 170px;
}
