.galery {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1920px;
  padding-right: 70px;
  padding-left: 70px;
  margin: 0 auto;
  margin-top: 180px;
  margin-bottom: 80px;
}

.galery__card {
  padding: 2px;
  margin: 2px;
  background-color: #3d3d3dc5;
  border-radius: 10px;
  transition: all 0.5s;
}

.galery__card-img {
  max-width: 370px;
  height: auto;
  margin: 5px;
  cursor: pointer;
  border-radius: 10px;
}

.galery__card:hover {
  position: relative;
  box-shadow: 10px 10px 10px 10px #0000008d;
  transform: scale(1.5);
}

.galery__grade {
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
  margin-bottom: 5px;
}
