.nav {
  display: flex ;
  justify-content: space-between;
}

.nav__list {
  display: flex ;
  width: 500px;
  justify-content: space-between;
  margin-left: 50px;
}



.nav__list-item-link {
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}



