.resume {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  padding-right: 70px;
  padding-left: 70px;
  margin: 0 auto;
  margin-right: 70px;
  margin-bottom: 70px;
  margin-left: 70px;
  color: #000;
}
