.studies {
  margin-top: 50px;
  margin-right: 70px;
  margin-left: 70px;
}

.studies-studies {
  display: flex;
  justify-content: center;
  max-width: 1920px;
  padding-right: 70px;
  padding-left: 70px;
  margin: 0 auto;
  background-color: #3d3d3dc5;
  border-radius: 50px;
}

.studies-wraper {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.studies__my-photo {
  box-shadow: 10px 10px 20px 5px #00000080;
}

.studies__my-photo:hover {
  box-shadow: 15px 15px 25px 5px #00000080;
}

.studies__university {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 472px;
  margin-left: 90px;
}

.studies__university-psu {
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: 400;
  line-height: 40px;
}
