.studies {
  background-color: #5B5C5C;
  // clip-path: polygon(100% 0, 100% 80%, 0 100%, 0 20%);
  padding-top: 130px;
  padding-bottom: 130px;
}

.studies-studies {
  display: flex;
  justify-content:center;
  padding-left: 70px;
  padding-right: 70px;

  // margin-top: 130px;
  // margin-bottom: 130px;
  max-width: 1920px;
  margin:  0 auto;
}


.studies-wraper {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.studies__my-photo {
  box-shadow: 10px 10px 20px 5px rgba(0,0,0,0.5);
}

.studies__my-photo:hover {
  box-shadow: 15px 15px 25px 5px rgba(0,0,0,0.5);
}

.studies__university {
  width: 472px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 90px;
}

.studies__university-psu {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
}
