.tools {
  margin-right: 70px;
  margin-left: 70px;
}

.tools-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 70px;
  margin: 0 auto;
  margin-top: 50px;
  margin-right: 70px;
  margin-bottom: 50px;
  margin-left: 70px;
  overflow: hidden;
  background-color: #3d3d3dc5;
  border-radius: 50px;
}

.tools__left {
  width: 64px;
  height: 64px;
  fill: #fff;
}

.tools__right {
  width: 64px;
  height: 64px;
  fill: #fff;
  transform: rotate(180deg);
}

.tools__carousel-img {
  width: 64px;
  height: 64px;
}

.tools__text {
  font-size: 32px;
  font-weight: 400;
  line-height: 83px;
}

.tools__carousel {
  display: flex;
  justify-content: start;
  margin-top: 50px;
  transform: 0;
}

.tools__carousel-tool {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.tools__carousel-tool-tool {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 65px;
  background-color: #5b5c5c;
  border-radius: 75px;
}

.tools-container-pagination {
  opacity: var(#bdff00);
}

.tools__carousel-text {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
}
