.web-container {
  display: flex;
  justify-content: space-between;
  background-color: #2D2D2D;
  padding-left: 70px;
  padding-right: 70px;
}

.web__developer {
  max-width: 550px;
}

.web__developer-text {
  font-weight: 300;
  font-size: 40px;
  line-height: 52px;
}

.web__developer-designer {
  font-weight: 400;
  font-size: 40px;
  line-height: 78px;
  color: #BDFF00;
  text-transform: uppercase;
}

.web__developer-blockquote {
  font-weight: 400;
  font-size: 17px;
  line-height: 32px;
}

.web__developer-button {
  font-weight: 700;
  font-size: 30px;
  line-height: 62px;
  text-transform: uppercase;
  background: #BDFF00;
  border-radius: 25px;
  margin-top: 80px;
  margin-bottom: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 100px;
  padding-right: 100px;
  cursor: pointer;
}

.web__svg {
  width: 100%;
}
