.web {
  max-width: 1920px;
  margin: 0 auto;
}

.web-container {
  display: flex;
  justify-content: space-between;
  padding-right: 70px;
  padding-left: 70px;
  background-color: #2d2d2d;
}

.web__developer {
  max-width: 550px;
}

.web__developer-text {
  font-size: 40px;
  font-weight: 300;
  line-height: 52px;
}

.web__developer-designer {
  margin: 0 auto;
  overflow: hidden;
  font-family: monospace;
  font-size: 44px;
  font-weight: 400;
  line-height: 78px;
  color: #bdff00;
  text-transform: uppercase;
  white-space: nowrap;
  border-right: .11em solid #fff;
  animation:
    typing 2s steps(30, end),
    blink-caret .5s step-end infinite;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink-caret {
  from,
  to { border-color: transparent; }
  50% { border-color: #fff; }
}

.web__developer-blockquote {
  font-size: 17px;
  font-weight: 400;
  line-height: 32px;
}

.main-background {
  display: flex;
  width: auto;
  height: auto;
  background-image: url("..//img/bottom.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.web__developer-button {
  padding-top: 10px;
  padding-right: 100px;
  padding-bottom: 10px;
  padding-left: 100px;
  margin-top: 80px;
  margin-bottom: 50px;
  font-size: 24px;
  font-weight: 700;
  line-height: 62px;
  color: #000;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #bdff00;
  border: 0;
  border-radius: 25px;
  outline: 0;
  box-shadow: 0 5px 0 #00000052;
  transition: all .1s linear;
}

.web__developer-button:active {
  box-shadow: 0 2px 0 #000;
  transform: translateY(3px);
}
