@font-face {
  font-weight: 400;
  font-family: "PT Sans Narrow";
  src: url("..fonts\PTSansNarrow-Regular.ttf") format("ttf");
}

@font-face {
  font-weight: 700;
  font-family: "PT Sans Narrow";
  src: url("..fonts\PTSansNarrow-Bold.ttf") format("ttf");

}

